ion-content {
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 20px;
    --padding-top: 20px;
  }

.input-wrapper {
      color: #2F5C78;
  }

  ion-label{
      --color: #2F5C78;
  }