<ion-header>
  <ion-toolbar>
    <ion-img src="./assets/letras.png" style="width: 200px; display:block; margin:auto;"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <h2 style="color: #2F5C78; font-weight:100;">Crear cuenta</h2>
  <ion-item>
    <ion-label style="color: #2F5C78;">Nombre: </ion-label>
    <ion-input type="text" [(ngModel)]="registro.nombre" name="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: #2F5C78;">Apellido: </ion-label>
    <ion-input type="text" [(ngModel)]="registro.apellido" name="apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: #2F5C78;">Correo: </ion-label>
    <ion-input type="email" [(ngModel)]="registro.correo" name="correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: #2F5C78;">Contraseña: </ion-label>
    <ion-input type="password" [(ngModel)]="registro.pass1" name="pass1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: #2F5C78;">Confirmar contraseña: </ion-label>
    <ion-input type="password" [(ngModel)]="registro.pass2" name="pass2"></ion-input>
  </ion-item>
<br><br>
  <ion-button expand="full" fill="solid" color="primary">Registrarme</ion-button>
</ion-content>
