<ion-header>
  <ion-toolbar color="secondary">
    <ion-img src="./assets/letras.png" style="width: 200px; display:block; margin:auto;"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #FFE8C7;">
<div class="container">
  <img src="./assets/perfil.png" alt="Avatar" style="width:100%;">
  <p>Hello.</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="./assets/perfil.png" alt="Avatar" class="right" style="width:100%;">
  <p>Hey! I need your help!</p>
  <span class="time-left">11:01</span>
</div>

<div style="position: absolute; bottom: 0; width: 100%;">
  <ion-item style="width: 100%;">
    <ion-input type="text" style="width: 100%;" placeholder="Chat"></ion-input>
    <ion-button>Send</ion-button>
  </ion-item>
</div>
</ion-content>
