<ion-content [fullscreen]="true">
  <div id="container">

    <div id="#artiststhumbnail">
      <ion-img src="./assets/letras.png" style="width: 300px; display:block; margin:auto;"></ion-img>
    </div>
    <br>
    <br>

    <ion-card style="padding: 20px;">
      <h2 style="color: #2F5C78;">Iniciar Sesión</h2>

      <ion-item>
        <ion-label style="color: #2F5C78;">Usuario: </ion-label>
        <ion-input type="text" name="usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color: #2F5C78;">Contraseña: </ion-label>
        <ion-input type="password" name="nombre"></ion-input>
      </ion-item>
      
    <ion-button (click)="login()" expand="full" fill="solid" color="primary">Acceder</ion-button>
    <h3 (click)="registrar()">Registrarme ahora</h3>
  </ion-card>
  <h2>Iniciar sesión con: </h2>
    <ion-img src="./assets/google.png" style="width: 50px; display:block; margin:auto;"></ion-img>
  </div>
</ion-content>
