<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons slot="start">
      <!-- <ion-button (click) = "toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    -->
    <ion-menu-button color="primary" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-img src="./assets/letras.png" style="width: 200px; display:block; margin:auto;"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header tappable (click) = "collapseCard = !collapseCard">
      <ion-card-title>
        Nuevos eventos
      </ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf = "!collapseCard">
      <ion-item>
        <ion-input type="text" placeholder="Title" [(ngModel)] = "event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Description" [(ngModel)] = "event.desc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Inicio</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)] = "event.startTime" [min] = "minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Fin</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)] = "event.endTime" [min] = "minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Todo el día?</ion-label>
        <ion-checkbox [(ngModel)] = "event.allDay"></ion-checkbox>
      </ion-item>
      <ion-button fill = "outline" expand="block" (click) ="addEvent()" [disabled] = "event.title == ''">Agregar evento</ion-button>
    </ion-card-content>
  </ion-card>
<!--
  <div id="container">
    <ion-button expand="full" fill="solid" color="danger">Alerta</ion-button>
  </div>
-->

<calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onRangeChanged)="reloadSource(startTime, endTime)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30">
  </calendar>
</ion-content>
